extends layout

block content
  div.heading.container
    h1=title
    p A quiz to determine what type of train best suits your personality :)
    hr
    img(src="/img/train.png", alt="")
    a(href="/login") Get started
