extends layout

block content
  div.heading.container
    h1=title
    p Please log in to take the quiz
    hr
    form(action="/login", method="POST" id="login-form")
      p
        section
          | Username: 
          input(type="text", name="username", value="")
        section
          | Password:
          input(type="password", name="password", value="")
      if error
        p.error-message #{error}
      input(type="submit", value="Log In")
      a(href="/register") Don't have an account? Register.

